<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Jobs Finder Program</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="bs-example" data-example-id="bordered-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
          <% @dom.css("a.result-title.hdrlnk").map.with_index do |job, index| %>
          <tr>
            <td><%= index.next %></td>
            <td><a href='<%= "https://miami.craigslist.org#{job['href']}" %>'><%= job.text %></a></td>
            <%end%>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
